.AutoTeacher {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: white;
}

.AutoTeacher .Settings {
  text-align: justify;
}

.AutoTeacher .Settings p {
  display: flex;
}

.AutoTeacher .Settings > div {
  margin: 5px 0;
  display: block;
}

.AutoTeacher .Settings > div label {
  width: 280px;
  padding-right: 10px;
  display: inline-block;
}

.AutoTeacher .Settings > div input {
  display: inline-block;
}

.AutoTeacher h3, .AutoTeacher h4 {
  margin: 10px 0;
}

.AutoTeacher input[type=text],
.AutoTeacher input[type=password] {
  height: 24px;
}

.AutoTeacher button {
  margin: 10px;
  padding: 10px;
}

.task-container span.correct{
  color: green;
}

.task-container span.incorrect{
  color: red;
}

.task-answer {
  display: inline-block;
  width: 25px;
  text-align: center;
}

.task-image-answer {
  text-align: center;
  margin: 5px 0;
}

.task-image-answer h2 {
  margin: 5px 0;
}

.task-answer-cases {
  margin: 10px 0;
  padding: 10px 0;
}

.task-answer-image-cases {
  margin: 10px 0;
  padding: 10px 0;
}

.task-answer-cases > span {
  display: inline-block;
  border: 1px solid gray;
  margin: 5px;
  padding: 15px;
  cursor: pointer;
}

.task-answer-image-cases > span {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

img.task-image {
  width: 130px;
  margin: 5px;
}

.task-image-answer-box {
  height: 130px;
}

@media (max-width: 1200px) {
  img.task-image {
    width: 90px;
  }
  .task-image-answer-box {
    height: 90px;
  }

}

@media (max-width: 900px) {
  img.task-image {
    width: 70px;
    margin: 2px;
  }
  .task-image-answer-box {
    height: 70px;
  }
}